@font-face {
  font-family: 'ProximaSoftBlack';
  src: url('fonts/Proxima Soft Black.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('fonts/Proxima Soft.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('fonts/ProximaNova-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaSoftBold';
  src: url('fonts/proximasoft-bold.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'ProximasoftExtraBold';
  src: url('fonts/proximasoft-extrabold_0.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'ProximasoftMedium';
  src: url('fonts/proximasoft-medium.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}