.patyCardWrapperAll {
    margin: 0 auto 2em;
    padding-top: 120px;
    width: 80%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
    font-family: 'ProximaSoft';
    margin: 0 0 1em;
}

.imgWrapper {
  width: 30%;
}

.partyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 7em;
    margin-left: 10%;
    color: white;
    font-weight: bold;
    background-color:rgb(147, 231, 101);
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px #888888;   
}

.partyCard:hover, .partyCard:focus  {
background-color: rgb(147, 220, 101);
outline: none;
}

.partyCard:active {
    background-color: rgb(147, 220, 101);
    outline: none;
    margin-top: 2px;
}

.partyCardDescr {
    font-size: 1em;
    padding-bottom: 0.5em;
}

.partyCardTitle{
    font-size: 2em;
}

@media(min-width: 480px) {
    .patyCardWrapperAll {
        font-size: 1.2em;
    }
}

@media(min-width: 768px) {
    .patyCardWrapperAll {
        font-size: 1.5em;
        margin-bottom: 3em;
    }
    .title {
        margin-top: 1em;
    }
}

  @media(min-width: 960px) {
    .patyCardWrapperAll {
        font-size: 1.8em;
        width: 70%;
    }
}

    @media(min-width: 1200px) {
    .patyCardWrapperAll {
        font-size: 2em;
        width: 60%;
    }
}

@media(min-width: 1440px) {
    .patyCardWrapperAll {
        font-size: 2.5em;
    }
}


